#dev files
valgrind.log

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Build directory
build/
data/img/original/renderFolder/
data/img/render/
src/img/render/
src/img/renderFolder/
src/img/blendcache_*/

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app


perf.dat*
.buildconfig
*.blend1