Source: kingsandships
Section: game
Priority: optional
Maintainer: Simon Folco <kaochen2@gmail.com>
Build-Depends: debhelper (>= 11),
		build-essential,
		cmake,
		ninja-build,
		gettext,
		libxml++2.6-dev,
		libsdl2-dev,
		libsdl2-ttf-dev,
		libfreetype6-dev,
		libxml2-dev,
		libsdl2-image-dev
Standards-Version: 4.3.0
Homepage: https://github.com/kaochen/KingsAndShips

Package: kingsandships
Architecture: any
Multi-Arch: foreign
Depends:${misc:Depends},
        ${shlibs:Depends},
        libsdl2-2.0-0,
        libsdl2-image-2.0-0,
        libsdl2-ttf-2.0-0,
	libxml++2.6-2v5,
	fonts-roboto
Description: A defense Tower game
 The king is going back with his ships, but you have taken
 his throne during his journey. You don't want him to go back.
 Organize your defense to push him back away and enjoy your new lifestyle.



