Source: kingsandships
Section: games
Priority: optional
Maintainer: Simon Folco <kaochen2@gmail.com>
Build-Depends: cmake (>= 3.15),
		debhelper (>= 11),
		build-essential,
		cmake,
		ninja-build,
		gettext,
		libxml++2.6-dev,
		libsdl2-dev,
		libsdl2-ttf-dev,
		libfreetype6-dev,
		libxml2-dev,
		libsdl2-image-dev
Standards-Version: 4.3.0
Homepage: https://github.com/kaochen/KingsAndShips
Vcs-Git: https://github.com/kaochen/kingsandships.git
Rules-Requires-Root: no

Package: kingsandships
Architecture: any
Depends:${misc:Depends},
        ${shlibs:Depends},
	kingsandships-data (= ${source:Version}),
        libsdl2-2.0-0,
        libsdl2-image-2.0-0,
        libsdl2-ttf-2.0-0,
	libxml++2.6-2v5,
	fonts-roboto
Description: 2D isometric Tower defense game
 The king is going back with his ships, but you have taken
 his throne during his journey. You don't want him to go back.
 Organize your defense to push him back away and enjoy your new lifestyle.


Package: kingsandships-data
Architecture: all
Multi-Arch: foreign
Pre-Depends: ${misc:Pre-Depends}
Description: 2D isometric Tower defense game
 The king is going back with his ships, but you have taken
 his throne during his journey. You don't want him to go back.
 Organize your defense to push him back away and enjoy your new lifestyle.
 These packages provides data files needed to run kingsandships



